@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #afafaf;
    background-image: url(carro.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

header, main, section, article {
    max-width: 700px;
}

header > h1 {
    color: white;
    text-shadow: 3px 3px 0px rgb(36, 36, 36);
}

footer {
    display: block;
    width: 100vw;
    background-color: rgba(153, 153, 153, 0.3);
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 10px;
}

a {
    color: #706e91;
    background-color: rgba(212, 212, 212, 0.1);
    padding: 0 3px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: .5px dotted hsl(0, 0%, 100%);
}

a:hover {
    color: #a3a3a3;
    border-bottom: 1px solid #757575;
}

table {
    min-width: 400px;
    border-spacing: 0px;
    border: 0.5px solid #8b8b8b;
    margin: 10px auto;
}

table th {
    background-color: #7a7a7a;
    color: white;
    padding: 5px;
    text-align: left;
    width: 20%;
}

table td {
    padding: 5px;
}

table tr {
    background-color: rgba(155, 155, 155, 0.3);
}

table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.3);
}

table.divisao {
    border: 1px solid white;
}

table.divisao td {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
}

ul > li::marker {
    color: #bdb9da;
}

form {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 25px;
    border-radius: 2px;
}

form label {
    display: block;
    width: fit-content;
    font-size: 0.8em;
    font-weight: 100;
    background-color: rgba(160, 160, 160, 0.2);
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 2px;
}

input[type=text], [type=number]{
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
}

input[type=button], button {
    width: 100%;
    background-color: #272727;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover, button:hover {
    background-color: #272727;
}